
{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="jumbotron">
      
        
        <form class="d-flex" method="get" role="search">
            <input class="form-control me-2" name="search" type="search" placeholder="Search Items" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        <div class="header">ITEMS</div>
        <div class="display_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            {% for stock_item in stock %}
            <tr> 
                
                <td>{{forloop.counter}}</td>
                <td>{{stock_item.category}} </td>
                <td><a href= "{% url 'update_item' stock_item.id %}">{{stock_item.item_name}}</a></td>
                <td>{{stock_item.quantity}}</td>
               
            </tr>

            {% endfor %}
                

        </table>
    </div>
    </div>

        
       
{% endblock %}
        
